RewriteEngine on

RewriteRule ^post-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?page=post&id=$2 [L]
RewriteRule ^category-([a-z0-9\-]+)-([0-9\-]+).html$ index.php?page=posts&category=$2 [L]
RewriteRule ^page-([^/\.]+).html$ index.php?page=$1 [L]